<button>Create timesheet entry</button>

<h3>Timesheet entries</h3>

<table>
  <tr>
    <td>Entry one</td>
  </tr>
  <tr>
    <td>Entry two</td>
  </tr>
  <tr>
    <td>Entry three</td>
  </tr>
</table>