<%= link_to "Create Timesheet Entry", new_path %>

<h3>Timesheet entries</h3>

<table>
  <% @timesheets.each do |timesheet| %>
  <tr>
    <td><%= timesheet.date %><%= timesheet.start_time %><%= timesheet.finish_time %></td>
  </tr>
  <% end %>
</table>